---
import MainLayout from '../../layouts/MainLayout.astro';
import CustomerDashboard from '../../components/react/CustomerDashboard';
import { ToastProvider } from '../../components/ui/Toast';
---

<MainLayout title="My Stays">
  <div class="px-12 py-10 max-w-7xl mx-auto">
    <ToastProvider client:load>
      <CustomerDashboard client:load />
    </ToastProvider>
  </div>
</MainLayout>
